.sub-title {
    font-size: 24px;
    color: #fff;
    text-align: center;
    font-family: 'Bebas Neue';
    margin-bottom: 10px;
    @media (max-width: 1199px) {
        font-size: 23px;
    }
    @media (max-width: 991px) {
        font-size: 22px;
    }
    @media (max-width: 767px) {
        font-size: 21px;
    }
    @media (max-width: 575px) {
        font-size: 20px;
        margin-bottom: 15px;
    }
    @media (max-width: 375px) {
        font-size: 17px;
        margin-bottom: 10px;
    }
}

.btn {
    background: #FFB548;
    color: #1A1917;
    text-decoration: none;
    text-align: center;
    padding: 15px;
    display: inline-block;
    border-radius: 4px;
    font-weight: 600;
    border: none;
    outline: none;
}
.tcenter {
    text-align: center;
}

.btn-scroll {
    border: none;
    outline: none;
    background: transparent;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    &:hover {
        text-decoration: underline;
    }
    svg {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
.title {
    color: #fff;
    font-size: 80px;
    font-family: 'Bebas Neue';
    line-height: 1;
    margin-bottom: 50px;
    @media (max-width: 1199px) {
        font-size: 70px;
        margin-bottom: 40px;
    }
    @media (max-width: 991px) {
        font-size: 60px;
        margin-bottom: 35px;
    }
    @media (max-width: 767px) {
        font-size: 50px;
        margin-bottom: 30px;
    }
    @media (max-width: 575px) {
        font-size: 40px;
        margin-bottom: 25px;
    }
    @media (max-width: 375px) {
        font-size: 30px;
    }
}
p {
    margin-bottom: 10px;
}