.sub-title {
    font-size: 24px;
    color: #fff;
    text-align: center;
    font-family: 'Bebas Neue';
    margin-bottom: 25px;
}

.btn {
    background: #FFB548;
    color: #1A1917;
    text-decoration: none;
    text-align: center;
    padding: 15px;
    display: inline-block;
    border-radius: 2px;
    font-weight: 600;
}
.tcenter {
    text-align: center;
}

.btn-scroll {
    border: none;
    outline: none;
    background: transparent;
    color: #fff;
    text-align: center;
    svg {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}